<mat-card class = "card">
    <p class = "title">Welcome to Ilias Taxi</p>
    <mat-card-content>
        <div class="div">
            <p>Reliable and fast taxi services at your fingertips.</p>
                    
            <mat-form-field class="currentLocation">
                <mat-label>Your Location</mat-label>
                    <input matInput class="input">
                    <button mat-icon-button matTooltip = "Current Location" class = "button1" id="button1"> </button>
            </mat-form-field>
                    
            <span class="background-span"></span>
                     
            <mat-form-field class="destination">
                <mat-label>Your Destination</mat-label>
                    <input matInput>
            </mat-form-field>  
        </div>
    </mat-card-content>
</mat-card>
<div class = div1>
 <h1 mat-dialog-content class = "h1">Drive All Over Austria</h1>
</div>
<div class = "div2"></div>
<div class = "div3">
    <h1 class = "h1_">Happy Customers!</h1>
</div>



<!--<img src "..." ما تشتتغل-->
