<mat-card>
    <mat-card-header>
        <mat-card-title>Welcome to Ilias Taxi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="div">
            <p>Reliable and fast taxi services at your fingertips.</p>
            
            <mat-form-field class="currentLocation">
                <mat-label>Your Location</mat-label>
                <input matInput>
            </mat-form-field>
            
            <span class="background-span"></span>
             
            <mat-form-field class="destination">
                <mat-label>Your Destination</mat-label>
                <input matInput>
            </mat-form-field>  
        </div>
    </mat-card-content>
</mat-card>