.card{
    border:8px;
    border-style:dotted;
    border-color: #3f51b5;
    width:1000px;
    position:relative;
    margin:auto;
}
.title{
    margin:auto;
    font-size:24px;
    font:bolder;
    margin-top:20px;
    margin-bottom:20px
}
.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 20px; 
}
.div {
    display: flex;
    flex-direction:column; 
    align-items: center; 
    flex: 1; 
}
.background-span {
    width: 60px;
    height: 50px;
    background-image: url('arrow.png');
    background-size: cover; 
    background-position: center; 
    margin-bottom: 16px;
    margin-top: -7px;
}
.currentLocation{
    width:100%;
}
.destination {
    width: 100%; 
    margin-bottom: 10px; 
}
.button1{
    background-image: url('icon.png');
    background-size: cover;
    background-color: #005cbb;
    height: 3px;
    width: 3px;
    bottom: 9px;
    left: 13px; 
}
.input{
    width:97%;
}
.div1{
    margin-top: 200px;;
    border-top-width: 400px;
    border-top:2px;
    border-top-color: #3f51b5;
    border-top-style:groove;
}
.div2{
    width: 1000px;
    height: 1000px;
    background-image: url('austria.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position-x:left;
    background-position-y:top;
    margin:auto;

}
.h1{
    background-color: azure;
    text-align: center;
    font-size: 50px;
    width:500px;
    margin:auto;
    margin-top:35px;
    margin-bottom: 15px;
    border-radius: 300px;
    border-left-style: dotted;
    border-right-style: dotted;
}
.div3{
    position: absolute;
    flex-direction:column; 
    width: 1500px;
    height: 1000px;
    background-image: url('taxi.jpeg');
    background-size:500px;
    background-repeat:no-repeat;
    background-position-x:left;
    background-position-y:top;
    margin:auto;
}
.h1_{
    margin-left:560px;
    margin-top:150px;
    font: bolder;
    font-size:100px;
    color:rgb(147, 190, 228);
    text-decoration: dotted;
    text-decoration-line: underline;
    font-style: italic;
}
